<input type='hidden' id='imgQr' value='{{imag.i}}' />
<input type='hidden' id='orden' value='{{id}}' />
<input type='hidden' id='saldofecha' value='{{total}}' />
{{#each orden}}
  <main id='imprimir' class='content'>
    <div class='card font-weight-bold'>
      <div class='btn-group btn-group-toggle fixed-top' data-toggle='buttons' id='botonesI'>
        <label class='btn btn-secondary active' id='option1'>
          <input type='radio' name='options' autocomplete='off' checked />
          Actual
        </label>
        <label class='btn btn-secondary' id='option2'>
          <input type='radio' name='options' autocomplete='off' />
          Inicial
        </label>
        <label class='btn btn-secondary' id='option3'>
          <input type='radio' name='options' autocomplete='off' />
          Moras
        </label>
        <label class='btn btn-secondary' id='option4'>
          <input type='radio' name='options' autocomplete='off' />
          Combinado
        </label>
        <label class='btn btn-secondary' id='option5'>
          <input type='radio' name='options' autocomplete='off' />
          Imprimir
        </label>
      </div>
      <small class='text-muted' id='fechaActual'></small>
      <div class='card-header d-flex justify-content-between'>

        <div class='col-md-4 position-relative' height='50'>
          <img
            src={{imagenes}}
            width='150'
            alt='...'
            class='img-thumbnail'
            style='position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);'
          />
        </div>

        <ul class='list-group list-group-flush'>
          <li class='list-group-item py-1'>
            <i class='align-middle mr-1' data-feather='user'></i>
            <span
              class='text-warning d-inline-block text-truncate'
              style='max-width: 200px;'
            >{{nombre}}</span>
          </li>
          <li class='list-group-item py-1'>
            <i class='align-middle mr-1' data-feather='credit-card'></i>
            <span class='align-middle card-text'>CC:</span>
            <span class='text-dark'>{{documento}}</span>
          </li>
          <li class='list-group-item py-1'>
            <i class='align-middle mr-1' data-feather='phone-call'></i>
            <span class='text-primary'>{{movil}}</span>
          </li>
          <li class='list-group-item py-1'>
            <i class='align-middle mr-1' data-feather='mail'></i>
            <span class='text-primary'>{{email}}</span>
          </li>
          <li class='list-group-item py-1'>
            <i class='align-middle mr-1' data-feather='map-pin'></i>
            <span class='text-muted text-lowercase'>{{direccion}}</span>
          </li>
        </ul>

        <ul class='list-group list-group-flush' style='width: 300px;'>
          <li class='list-group-item py-1'>
            <span class='float-right card-title'>ORDEN {{lote}}</span>
          </li>
          <li class='list-group-item py-1'>
            <small class='text-muted'>Fecha orden </small>
            <span class='float-right' id='fechaOrden'>{{fecha}}</span>
          </li>
          <li class='list-group-item py-1'>
            <small class='text-muted'>Ref. de pago </small>
            <span class='float-right'>{{lote}}</span>
          </li>
          <li class='list-group-item py-1'>
            <small class='text-muted'>Asesor </small>
            <span
              class='float-right d-inline-block text-truncate'
              style='max-width: 200px;'
            >{{fullname}}</span>
          </li>
        </ul>

      </div>

      <div class='card-body p-0'>
        <hr class='m-0' />
        <div class='card-group' id='cliente1'>
          <div class='card'>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item py-1'>
                Proyecto:
                <span class='text-primary float-right'>{{proyect}}</span>
              </li>
              <li class='list-group-item py-1'>
                <div class='row'>
                  <div class='col-6'>Mz:
                    <span class='text-primary float-right'>{{mz}}</span>
                  </div>
                  <div class='col-6'>Lt:
                    <span class='text-primary float-right'>{{n}}</span>
                  </div>
                </div>
              </li>
              <li class='list-group-item py-1'>
                <div class='row'>
                  <div class='col-6'>Mt²:
                    <span class='text-primary float-right'>{{mtr2}}</span>
                  </div>
                  <div class='col-6'>Vrmt²:
                    <span class='text-primary float-right m2'>{{vrmt2}}</span>
                  </div>
                </div>
              </li>
              <li class='list-group-item py-1'>
                <i class='text-success' data-feather='dollar-sign'></i>
                <span>Total:</span>
                <span class='text-success float-right totalote'></span>
              </li>
            </ul>
          </div>
          <div class='card'>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item py-1'>
                Descuento:
                <span class='text-primary float-right'>{{descuento}}%</span>
              </li>
              <li class='list-group-item py-1'>
                Cupon:
                <span class='text-primary float-right'>{{pin}}</span>
              </li>
              <li class='list-group-item py-1'>Ahorro:
                <span class='text-primary float-right ahorro'>{{ahorro}}</span>
              </li>
              <li class='list-group-item py-1'>
                <i class='text-success' data-feather='dollar-sign'></i>
                <span>Inicial:</span>
                <span class='text-success float-right totali'>{{inicial}}</span>
              </li>
            </ul>
          </div>
          <div class='card'>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item py-1'>Valor lote:
                <span class='text-primary float-right totalp'>{{valor}}</span>
              </li>
              <li class='list-group-item py-1'>Cuota inicial:
                <span class='text-primary float-right inini'>{{iniciar}}</span>
              </li>
              <li class='list-group-item py-1'>Financiación:
                <span class='text-primary float-right'>{{numerocuotaspryecto}}</span>
              </li>
              <li class='list-group-item py-1'>
                <i class='text-success' data-feather='dollar-sign'></i>
                <span>Separacion:</span>
                <span class='text-success float-right separar'>{{separar}}</span>
              </li>
            </ul>
          </div>
        </div>

        <input type='hidden' id='imgss' value='{{imagenes}}' />
        <input type='hidden' id='inicialdiferida' value='{{inicialdiferida}}' />
        <input type='hidden' id='numerocuotaspryecto' value='{{numerocuotaspryecto}}' />

        <table
          id='datatable'
          class='table table-striped table-hover table-sm display nowrap font-weight-bold'
          style='width:100%;font-size:13px;'
        >
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Fecha</th>
              <th>Proyeccion</th>
              <th>Cuota</th>
              <th>Dias</th>
              <th>Mora</th>
              <th>Estado</th>
              <th>#</th>
              <th>Fecha</th>
              <th>Proyeccion</th>
              <th>Cuota</th>
              <th>Dias</th>
              <th>Mora</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <table
          id='tbsld'
          class='table table-striped table-hover table-sm display nowrap'
          style='width:100%'
        >
          <tbody>
            <tr>
              <th class=''>
                <label>TOTAL SALDO A LA FECHA</label>
              </th>
              <td>
                <strong class='saldofecha'></strong>
              </td>
            </tr>
          </tbody>
        </table>
        <!--<h4 class="card-title">Observaciones</h4>-->
        {{tipobsevacion}}
        <small class='text-muted'>{{obsevacion}}</small>
        <ul class='list-group list-group-flush mb-4'>
          <li class='list-group-item py-0'>
            <h5 class='card-title'>ACLARACIONES DE CONDICIONES EN SEPARACIÓN DE LOTE Y QUE FORMAN
              PARTE INTEGRAL DE ESTE.</h5>
          </li>
          <li class='list-group-item py-0'>
            Presentar a la administración del proyecto la documentación necesaria para la firma del
            acta de separación y copia del volante del pago de separación en un plazo máximo de ocho
            (8) días, pasada esta fecha, la administración del proyecto no tiene ninguna
            responsabilidad por la reserva del inmueble y esta queda en libertad de venderlo a otra
            persona.
          </li>
          <li class='list-group-item py-0'>
            Son ARRAS: En caso de desistimiento o incumplimiento unilateral de cualquiera de las dos
            (2) partes sobre las condiciones exigidas en este documento, si es el comprador pagara
            la suma dada antes de firmar la promesa de compra venta y si es el vendedor, devolverá
            la totalidad de los pagos recibidos con un interés equivalente al DTF.
          </li>
        </ul>
        <div class='d-flex justify-content-around mt-7'>
          <div class='mb-3 text-center' style='width: 300px;'>
            <hr
              class='m-1'
              style='width: 100%; color: black; height: 1px; background-color:black;'
            />
            <spam>Cliente</spam>
          </div>

          <div class='mb-3 text-center' style='width: 300px;'>
            <hr
              class='m-1'
              style='width: 100%; color: black; height: 1px; background-color:black;'
            />
            <spam>Gerencia</spam>
          </div>
        </div>
      </div>
    </div>
  </main>
{{/each}}