<input type='hidden' id='usuarioadmin' value='{{user.admin}}' />
<input type='hidden' id='usuariofullname' value='{{user.fullname}}' />
<input type='hidden' id='cli' value='{{user.cli}}' />

<nav id='sidebar' class='sidebar'>
  <div class='sidebar-content sticky'>
    <a class='sidebar-brand' href='/tablero'>
      <i class='align-middle' data-feather='box'></i>
      <span class='align-middle'>Grupo Elite</span>
    </a>

    <ul class='sidebar-nav js-simplebar overflow-auto' style='height: 31rem;'>
      <li class='sidebar-header'>
        Main
      </li>
      <!--<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/social">
					<i class="align-middle" data-feather="home"></i> <span class="align-middle">Social</span>
					<span class="sidebar-badge badge badge-primary">New</span>
				</a>
			</li>-->
      {{#each user.rutas}}
        {{#if activo}}
          <li class='sidebar-item'>
            <a class='sidebar-link' href={{link}}>
              <i class='align-middle' data-feather={{icono}}></i>
              <span class='align-middle'>{{name}}</span>
              {{#if new}}
                <span class='sidebar-badge badge badge-primary'>{{new}}</span>
              {{/if}}
            </a>
          </li>
        {{/if}}
      {{/each}}

      {{#if user.admin}}

        <li class='sidebar-item'>
          <a href='#pages2' data-toggle='collapse' class='sidebar-link collapsed'>
            <i class='align-middle' data-feather='settings'></i>
            <span class='align-middle'>Configuracion</span>
          </a>
          <ul id='pages2' class='sidebar-dropdown list-unstyled collapse' data-parent='#sidebar'>
            <li class='sidebar-item'><a
                class='sidebar-link'
                href='/links/whatsapp'
              >Whatsapp</a></li>
            <li class='sidebar-item'><a class='sidebar-link' href='#'>Roles</a></li>
            <li class='sidebar-item'><a class='sidebar-link' href='#'>Usuarios</a></li>
            <li class='sidebar-item'><a class='sidebar-link' href='#'>Apis</a></li>
            <li class='sidebar-item'><a class='sidebar-link' href='#'>Cuentas
                <span class='sidebar-badge badge badge-primary'>New</span></a></li>
          </ul>
        </li>

      {{/if}}
    </ul>

    <div class='sidebar-bottom d-none d-lg-block'>
      <div class='media'>
        <img
          class='rounded-circle mr-3'
          src='/img/avatars/avatar.svg'
          alt='Soporte'
          width='40'
          height='40'
        />
        <div class='media-body'>
          <h5 class='mb-1'>Contacto</h5>
          <div>
            <i class='fas fa-circle text-success'></i>
            Online
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>