<input type="hidden" id="imgQr" value="{{imag.i}}">
<input type="hidden" id="orden" value="{{id}}">
<input type="hidden" id="saldofecha" value="{{total}}">
{{#each orden}}
<main id="imprimir" class="content">
    <div class="card">
        <div class="card-header text-right">
            <h4 class="card-title">ORDEN DE SEPARACIÓN {{lote}}</h4>
            <small class="text-muted">Asesor </small><span class="badge badge-dark text-md-center">{{fullname}}</span>
        </div>
        <div class="card-body">
            <div class="row" id="encabezado">
                <div class="col-sm-5">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="/img/avatars/avatar.svg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body text-primary h4">
                                <div class="mb-0 float-right">
                                    <span class="align-middle text-dark">.......................901311748-3
                                        Nit</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="phone-call"></i>
                                    <span class="align-middle card-text">+57 300-775-3983</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="mail"></i>
                                    <span class="align-middle card-text">info@grupoelitered.com.co</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="globe"></i>
                                    <span class="align-middle card-text">www.grupoelitered.com.co</span>
                                </div>
                                <p class="card-text"><small class="text-muted">Barrio la Granja mz L lote 17
                                        esquina</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body text-primary h4">
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="user"></i>
                                    <span class="align-middle card-text text-warning">{{nombre}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="heart"></i> <span
                                        class="align-middle card-text">{{estadocivil}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="phone-call"></i>
                                    <span class="align-middle card-text">{{movil}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="mail"></i>
                                    <small class="align-middle card-text">{{email}}</small>
                                </div>
                                <!--<div class="mb-0">
                                        <i class="align-middle mr-1" data-feather="map"></i>
                                        <span class="align-middle text-muted">{{direccion}}</span>
                                    </div>-->
                                <p class="card-text"><small class="text-muted">{{direccion}}</small></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body text-primary h4">
                                <div class="mb-0 float-right">
                                    <span class="align-middle text-dark" id="fechaOrden">{{fecha}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="credit-card"></i>
                                    <span class="align-middle card-text">CC:</span>
                                    <span class="align-middle text-muted">{{documento}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="calendar"></i>
                                    <span class="align-middle card-text">Fec.Nac:</span>
                                    <span class="align-middle text-muted">{{fechanacimiento}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="calendar"></i>
                                    <span class="align-middle card-text">Expedida:</span>
                                    <span class="align-middle text-muted">{{fechaexpedicion}}</span>
                                </div>
                                <div class="mb-0">
                                    <i class="align-middle mr-1" data-feather="map-pin"></i>
                                    <span class="align-middle card-text">Expedida en:</span>
                                    <span class="align-middle text-muted">{{lugarexpedicion}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="cliente1">
                <div class="col-12">
                    <i class="feather-md" data-feather="user"></i>
                    Proyecto: <span class="badge badge-dark text-md-center ml-1 mr-5">{{proyect}}</span>
                    Mz: <span class="badge badge-dark text-md-center ml-1 mr-5">{{mz}}</span>
                    Lote: <span class="badge badge-dark text-md-center ml-1 mr-5">{{n}}</span>
                    Mtr²: <span class="badge badge-dark text-md-center ml-1 mr-5">{{mtr2}}</span>
                    Vr mtr²: <span class="badge badge-dark text-md-center ml-1 m2">{{vrmt2}}</span>
                    <strong class="float-right totalp">{{valor}}</strong>
                    <hr class="m-1" />
                </div>
                <div class="col-12">
                    <i class="feather-md" data-feather="user"></i>
                    Descuento: <span class="badge badge-dark text-md-center ml-1 mr-7">{{descuento}}%</span>
                    Cupon Dto: <span class="badge badge-dark text-md-center ml-1 mr-7">{{pin}}</span>
                    Ahorro: <span class="badge badge-dark text-md-center ml-1 mr-7 ahorro">{{ahorro}}</span>
                    <strong class="float-right totalote"></strong>
                    <span class="float-right mr-2">Total lote: </span>
                    <hr class="m-1" />
                </div>
                <div class="col-12">
                    <i class="feather-md" data-feather="user"></i>
                    Financiación Pryt: <span
                        class="badge badge-dark text-md-center ml-1 mr-5">{{numerocuotaspryecto}}</span>
                    <input type="hidden" id="numerocuotaspryecto" value="{{numerocuotaspryecto}}">
                    Cuotas: <span id="cuota" class="badge badge-dark text-md-center ml-1 mr-6">{{cuot}}</span>
                    Cuota inicial: <span class="badge badge-dark text-md-center ml-1 mr-6">{{iniciar}}%</span>
                    Inicial diferida: <span class="badge badge-dark text-md-center ml-1">{{inicialdiferida}}
                        mes(es)</span>
                    <strong class="float-right totali">{{inicial}}</strong>
                    <input type="hidden" id="inicialdiferida" value="{{inicialdiferida}}">
                    <hr class="m-1" />
                </div>
                <div class="col-12">
                    <i class="feather-md" data-feather="user"></i>
                    Cuotas Extraordinarias: <span class="badge badge-dark text-md-center ml-1 mr-7">{{extran}}</span>
                    Mes(es): <span id="cuota" class="badge badge-dark text-md-center ml-1 mr-7">jun & dic</span>
                    Cuota: <span class="badge badge-dark text-md-center ml-1 mr-7 extrao">{{cuotaextraordinaria}}</span>
                    <strong class="float-right separar">{{separar}}</strong>
                    <span class="float-right mr-2">Separacion: </span>
                    <hr class="m-1" />
                </div>
            </div>
            <table id="datatable" class="table table-striped table-hover table-sm display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Cuota</th>
                        <th>Estado</th>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Cuota</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tbsld" class="table table-striped table-hover table-sm display nowrap" style="width:100%">
                <tbody>
                    <tr>
                        <th class="">
                            <i class="feather-md" data-feather="calendar"></i>
                            <label>TOTAL SALDO A LA FECHA</label>
                        </th>
                        <td>
                            <strong class="saldofecha"></strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<h4 class="card-title">Observaciones</h4>-->
            {{tipobsevacion}} <small class="text-muted">{{obsevacion}}</small>
            <div class="row">
                <div class="col-9">
                    <ul class="timeline">
                        <h4 class="card-title">ACLARACIONES CONDICIONES DE SEPARACIÓN DE LOTE Y QUE FORMAN PARTE
                            INTEGRAL DE
                            ESTE.</h4>
                        <li class="timeline-item">
                            <strong>#1</strong>
                            <i class="feather-md text-primary float-right mr-3" data-feather="check-circle"></i>
                            <br>
                            <span>
                                Presentar a la administración del proyecto la documentación necesaria para la firma del
                                acta de
                                separación y copia del volante del pago de separación en un plazo máximo de ocho (8)
                                días,
                                pasada esta fecha, la administración del proyecto no tiene ninguna responsabilidad por
                                la
                                reserva del inmueble y esta queda en libertad de venderlo a otra persona.
                            </span>
                        </li>
                        <li class="timeline-item">
                            <strong>#2</strong>
                            <i class="feather-md text-primary float-right mr-3" data-feather="check-circle"></i>
                            <br>
                            <span>
                                Son ARRAS: En caso de desistimiento o incumplimiento unilateral de cualquiera de las dos
                                (2)
                                partes sobre las condiciones exigidas en este documento, si es el comprador pagara la
                                suma dada
                                antes de firmar la promesa de compra venta y si es el vendedor, devolverá la totalidad
                                de los
                                pagos recibidos con un interés equivalente al DTF.
                            </span>
                            <hr />
                        </li>
                    </ul>
                </div>
                <div class="col-3 text-center">
                    <div class="row mt-7">
                        <div class="col-12 mb-7">
                            <hr class="m-1" style="width: 100%; color: black; height: 1px; background-color:black;" />
                            <spam>Cliente</spam>
                        </div>
                        <div class="col-12">
                            <hr class="m-1" style="width: 100%; color: black; height: 1px; background-color:black;" />
                            <spam>Gerencia</spam>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{/each}}